# Required
CLIENT_SECRET=your-secret-here
GUARDETTE_POLICY_PATH=.guardette/policy.yml

# Optional
PSEUDONYMIZE_SALT=
SECRET_MANAGER=default
PROXY_CLIENT_TIMEOUT_SECS=60
SECRET_MANAGER_CACHE_TTL_SECS=120
PSEUDONYMIZE_EMAIL_DOMAINS_ALLOWLIST=
